body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container{
  border: black solid 1px;
  width: 500px;
  height: auto;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

#display-message{
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(241, 241, 241);
  margin: 20px;
}