.image{
  display: none;
}

.dots{
  display: flex;
}
.dot{
  width: 15px;
  height: 15px;
  background-color: rgb(180, 180, 180);
  margin: 1rem;
}

.active{
  background-color: rgb(130, 130, 130);
}