body{
  margin: 0;
}

.container{
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  position: relative;
}

img{
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgb(130, 130, 130);
}

.image{
  display: none;
  animation: fade 1s ease;
}

#prev, #next{
  position: absolute;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

#prev{
  left: 0;
  border-radius: 0 .5rem .5rem 0;
}

#next{
  right: 0;
  border-radius: .5rem 0 0 .5rem;
}

#prev:hover, #next:hover{
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.dots{
  display: flex;
}

.dot{
  width: 15px;
  height: 15px;
  background-color: rgb(180, 180, 180);
  margin: 1rem;
  border-radius: 50%;
}

.active{
  background-color: rgb(130, 130, 130);
}

@keyframes fade{
  from{opacity: 0.6;}
  to{opacity: 1;}
}